/*------------------------- 1. Core Css -------------------*/


/* 
--------------------------
- 1.1 Default CSS
--------------------------
*/


/*google font*/


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Poppins:100,300,400,500,600,700,800,900');

/* Your default CSS. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
}

body {
    background: #f6f3ff;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    height: 100%;
}

:root {
    --primary-color: #4336FB;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
}

.loader {
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
}

.loader:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    animation: popin 1.5s linear infinite 0s;
}

.loader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    animation: popin 1.5s linear infinite 0.5s;
}

@keyframes popin {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    1% {
        opacity: 0.1;
        transform: scale(0);
    }
    99% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.page-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /*padding-left: 280px;*/
    -webkit-transition: padding-left 0.3s ease 0s;
    transition: padding-left 0.3s ease 0s;
}

.sbar_collapsed.page-container {
    padding-left: 0;
}


/*.availablesurvey .card.mainsurvey {
    border: none;
    border-radius: 4px;
    padding: .7rem;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgb(255, 255, 255 .70);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
    border-radius: 0;
}*/

.availablesurvey .card.mainsurvey {
    border: none;
    padding: .7rem .4rem;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgb(255, 255, 255 .70);
    /* box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16); */
    border-radius: 1.2rem;
    border: solid 1px #D5C5EB;
}

.card:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.02);
}

.availablesurvey .card.mainsurvey .card-body {
    padding: 0;
}

.h-full {
    height: 100%;
}


/*------------------------- END Core Css -------------------*/


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    /*background: #fff;*/
    transition: all 0.5s;
    z-index: 997;
    padding: 0px 0;
    /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); */
    border-radius: 0;
    width: 100%;
    z-index: 0;
}

main#main {
    height: 100vh;
}

#header.header-scrolled {
    /*background: rgb(255 255 255 / 97%);*/
    position: relative;
}


/* #header.header-scrolled.sticky {
    position: -webkit-sticky;
    position: sticky;
} */

#header.header-scrolled.sticky {
    position: -webkit-fixed;
    position: fixed;
    top: 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


/*#header.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}*/


/*#header.sticky-top {
	position: -webkit-relative;
    position: relative;
    top: 0;
    z-index: 1020;
}
.content {
    padding: 16px;
}

#header.sticky-top.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}*/

#header.header-scrolled.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#header .container.headercontiner {
    box-shadow: 0px 3px 8px rgb(0 0 0 / 10%);
    border-radius: 1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    background: #fff;
}

#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

#header .logo a {
    color: #111;
}

#header .logo a span {
    color: #1bbd36;
}

#header .logo img {
    max-height: 70px;
}


/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/


/* .header-social-links {
    margin-left: 20px;
    border-left: 1px solid #c4c4c4;
}

.header-social-links a {
    color: #a0a0a0;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    padding-left: 20px;
}

.header-social-links a i {
    line-height: 0;
}

.header-social-links a:hover {
    color: #1bbd36;
}

@media (max-width: 768px) {
    .header-social-links {
        padding: 0 15px 0 0;
        border-left: 0;
    }
} */


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bi-list::before {
    content: "\f479";
}


/**
* Desktop Navigation 
*/

.manbtnlogout {
    align-items: center;
    display: flex;
    justify-content: end;
}

#header .manbtnlogout .welcometxt {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .manbtnlogout .welcometxt br {
    display: none;
}

#header .manbtnlogout .welcometxt button i {
    font-size: 1.7rem;
    padding-left: .5rem;
}

.navbar {
    padding: 0;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
    margin-right: .7rem;
}

.navbar a i,
.navbar a:focus i {
    font-size: 1.4rem;
    line-height: 0;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a i span,
.navbar a:focus i span {
    font-size: 0.85em;
    padding-left: 0.35rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}


/* .navbar ul li.active a i */

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #925ADD;
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle.bi-x {
    color: #fff;
}

.mobile-nav-toggle {
    position: fixed;
    right: 25px;
    top: 32px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 26px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    background: #000;
    padding: 10px;
    border-radius: .5rem;
    z-index: 99999;
    font-weight: 900;
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    transition: 0.3s all ease-in-out;
    z-index: 999;
    width: 100%;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 1rem 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #111;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #925ADD;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}


/* Mobile Navigation */

.mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #37517e;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #47b2e4;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\eaa1";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(40, 58, 90, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}


/* Get Startet Button */

.get-started-btn {
    margin-left: 25px;
    color: #fff;
    border-radius: 50px;
    padding: 6px 25px 7px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #47b2e4;
    font-weight: 600;
}

.get-started-btn:hover {
    background: #31a9e1;
    color: #fff;
}

@media (max-width: 768px) {
    .get-started-btn {
        margin: 0 48px 0 0;
        padding: 6px 20px 7px 20px;
    }
}

.main-content {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    /*height: 100vh; */
    top: auto;
    /*min-height: 100% !important;*/
    z-index: 0;
}

.main-content-inner {
    padding: 0 0px 0px;
    position: relative;
    z-index: 999;
    width: 100%;
    margin-top: 2rem;
    /*top: 15%;*/
}

.main-content-inner .mainavilablesurvey {
    padding-left: 0;
}

.main-content-inner .mainavimagcard {
    padding-right: 0;
    padding-left: calc(var(--bs-gutter-x) * .5);
}


/*.main-content-inner .card .maincardavailable h2 {
    color: #ff7657;
    font-size: 1.5rem;
    padding: 1rem 1rem 0 .5rem;
    margin: 0;
}*/

.main-content-inner .card.img {
    background: url("../img/vectbg.png") no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 16%);*/
    border-radius: 0;
    border: none;
    padding: 2.3rem 0 2.2rem;
}

.main-content-inner .card.img .maincardavailable .card-body {
    /*padding: 1.5rem 1.6rem 0.5rem;*/
    padding: 0 0 0 2rem;
}


/*
.main-content-inner .card.img .maincardavailable .card-body h3 {
    color: #fff;
    font-size: 1.1rem;
    padding-top: 1rem;
    padding-bottom: .0rem;
    font-weight: 600;
}
*/

.main-content-inner .card.img .maincardavailable .card-body p {
    color: #fff;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
    font-weight: 600;
}


/*.main-content-inner .card.img .maincardavailable .card-body p.pointscalculate {
    font-weight: 600;
}*/

.main-content-inner .card.img .maincardavailable .card-body h2 {
    margin: 0;
    padding: 0.2rem 0;
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 600;
    color: #31274f;
}

.main-content-inner .card .maincardavailable .card.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: none;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: none;
    line-height: 1.7;
}

.main-content-inner .card .maincardavailable .card.row i.mainhealthicon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0rem;
}

.main-content-inner .card .maincardavailable .card.row i.mainhealthicon:before {
    font-size: 1.9rem;
    padding: 0;
    color: #fff;
    position: relative;
}

.main-content-inner .card .maincardavailable .card.row .mainprfilecols {
    padding: 1.7rem 1rem;
    line-height: 2;
    color: #000;
    border-radius: .6rem;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
    border-width: 1px;
    border-style: solid;
}

.main-content-inner .card .maincardavailable .card.row .mainhelthcare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-content-inner .card .maincardavailable .card.row .healthcare {
    font-size: 1.1rem;
    color: #000;
    line-height: 1.7;
}

.main-content-inner .card .maincardavailable .card.row .mins.point {
    color: #ff7657;
    font-size: 1.0rem;
    font-weight: 500;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
}

.main-content-inner .card .maincardavailable .card.row .mins {
    color: #ff7657;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.main-content-inner .card .maincardavailable .btn.btn-dark.profile {
    padding: 13px 10px;
    border-color: #31274F;
    background: #31274F;
    transition: .3s all;
    font-size: 1rem;
    border-radius: .6rem;
    box-shadow: /*0 5px 5px 0 rgb(222 222 222 / 80%)*/
    0 5px 5px 0px rgb(173 173 173 / 56%);
}

.main-content-inner .card .maincardavailable .btn.btn-dark:hover {
    background: #ff7657;
    border: solid 1px #ff7657;
}

.main-content-inner .card .maincardavailable .btn.btn-dark.profile:hover,
.main-content-inner .card .maincardavailable .btn.btn-dark.profile:active,
.main-content-inner .card .maincardavailable .btn.btn-dark.profile.active {
    background: #000;
    border: solid 1px #000;
}

.main-content-inner .card .maincardavailable .card.row .mins.point {
    color: #ff7657;
    font-size: 1.0rem;
    font-weight: 500;
}

.main-content-inner .card .maincardavailable .btn.btn-dark.takesurvey {
    background: #fff;
    border: none;
    box-shadow: none;
    color: #ff7657;
    margin-top: 1.5rem;
    font-weight: 600;
    transition: .5s all;
    padding: 1rem;
    border-radius: .7rem;
    font-size: 1rem;
    line-height: 1.5;
}

.main-content-inner .card .maincardavailable .btn.btn-dark.takesurvey:hover,
.main-content-inner .card .maincardavailable .btn.btn-dark.takesurvey:active,
.main-content-inner .card .maincardavailable .btn.btn-dark.takesurvey.active {
    background: #000;
}

.main-content-inner .card .maincardavailable .card.row .seashell {
    border-color: rgb(246, 197, 155);
    background-image: -moz-linear-gradient( -90deg, rgb(255, 245, 236) 0%, rgb(255, 244, 234) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(255, 245, 236) 0%, rgb(255, 244, 234) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(255, 245, 236) 0%, rgb(255, 244, 234) 100%);
    margin-right: 2rem;
}

.main-content-inner .card .maincardavailable .card.row .seashell i.mainhealthicon {
    background: #F6C59B;
}

.main-content-inner .card .maincardavailable .card.row .catskill {
    border-color: rgb(184, 214, 144);
    background-color: rgb(230, 241, 216);
}

.main-content-inner .card .maincardavailable .card.row .catskill i.mainhealthicon {
    background: #F6C59B;
}

.main-content-inner .card .maincardavailable .card.row .tranquil {
    border-color: rgb(156, 174, 248);
    background-image: -moz-linear-gradient( -90deg, rgb(235, 239, 255) 0%, rgb(234, 239, 255) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(235, 239, 255) 0%, rgb(234, 239, 255) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(235, 239, 255) 0%, rgb(234, 239, 255) 100%);
    margin-right: 2rem;
}

.main-content-inner .card .maincardavailable .card.row .tranquil i.mainhealthicon {
    background: rgb(156, 174, 248);
}

.main-content-inner .card .maincardavailable .card.row .amour {
    border-color: rgb(245, 168, 199);
    background-color: rgb(251, 242, 245);
}

.main-content-inner .card .maincardavailable .card.row .amour i.mainhealthicon {
    background-color: rgb(245, 168, 199);
}

.main-content-inner .card .maincardavailable .card.row .pigpink {
    border-color: rgb(129, 232, 236);
    background-image: -moz-linear-gradient( -90deg, rgb(228, 251, 252) 0%, rgb(201, 248, 249) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(228, 251, 252) 0%, rgb(201, 248, 249) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(228, 251, 252) 0%, rgb(201, 248, 249) 100%);
    margin-right: 2rem;
}

.main-content-inner .card .maincardavailable .card.row .pigpink i.mainhealthicon {
    background: rgb(129, 232, 236);
}

.main-content-inner .card .maincardavailable .card.row .aubergine {
    border-color: rgb(210, 175, 190);
    background-color: rgb(242, 228, 234);
}

.main-content-inner .card .maincardavailable .card.row .aubergine i.mainhealthicon {
    background-color: rgb(210, 175, 190);
}

.main-content-inner .card .maincardavailable .card.row .rumswizzle {
    border-color: rgb(199, 196, 140);
    background-image: -moz-linear-gradient( -90deg, rgb(250, 250, 233) 0%, rgb(242, 240, 187) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(250, 250, 233) 0%, rgb(242, 240, 187) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(250, 250, 233) 0%, rgb(242, 240, 187) 100%);
    margin-right: 2rem;
}

.main-content-inner .card .maincardavailable .card.row .rumswizzle i.mainhealthicon {
    background: #c7c48c;
}

.main-content-inner .card .maincardavailable .card.row .grayishorange {
    border-color: rgb(229, 197, 152);
    background-color: rgb(243, 238, 231);
}

.main-content-inner .card .maincardavailable .card.row .grayishorange i.mainhealthicon {
    background-color: rgb(229, 197, 152);
}

.main-content-inner .card .maincardavailable .card.row .palepink {
    border-color: rgb(125, 161, 139);
    background-image: -moz-linear-gradient( -90deg, rgb(220, 242, 229) 0%, rgb(155, 219, 179) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(220, 242, 229) 0%, rgb(155, 219, 179) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(220, 242, 229) 0%, rgb(155, 219, 179) 100%);
    margin-right: 2rem;
}

.main-content-inner .card .maincardavailable .card.row .palepink i.mainhealthicon {
    background: #7da18b;
}

.main-content-inner .card .maincardavailable .card.row .mandyspink {
    border-color: rgb(207, 153, 145);
    background-image: -moz-linear-gradient( -90deg, rgb(255, 237, 233) 0%, rgb(251, 235, 232) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(255, 237, 233) 0%, rgb(251, 235, 232) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(255, 237, 233) 0%, rgb(251, 235, 232) 100%);
}

.main-content-inner .card .maincardavailable .card.row .mandyspink i.mainhealthicon {
    background-color: rgb(207, 153, 145);
}

.load-more.btn,
.profilebtn.btn {
    background-color: #FF7657;
    color: #fff !important;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 20px;
    margin: 2rem 0 .2rem;
    display: inline-block;
    padding: 11px 17px;
    font-size: 1rem;
}

.load-more.btn:hover,
.profilebtn.btn:hover {
    background-color: #000;
    text-decoration: none;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

a {
    text-decoration: none;
    color: #925ADD;
}

.card.mainprofile {
    margin: auto;
    text-align: left;
    border-radius: .7rem;
    border: solid 1px #DD5A87;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card.mainprofile .profilemain {
    align-items: center;
}

.card.mainprofile .profilemain span {
    padding-left: 1.5rem;
}

.card.mainprofile .complitprofile .btn.btn-dark.profile {
    padding: 1.4rem 0;
    display: flex;
    border-radius: 0 0.7rem.7rem 0;
    text-align: center;
    justify-content: center;
    background: #FBC0C0;
    border: none;
    font-size: 1rem;
    color: #31274F;
    font-weight: 600;
    border-left: solid 1px #DD5A87;
    transition: all .5s ease-in-out;
}

.card.mainprofile .complitprofile .btn.btn-dark.profile:hover {
    background: /*rgb(44 34 74 / 43%)*/
    #000;
    color: #fff;
}

.card.mainprofile.blues {
    border-color: #5A79DD;
}

.card.orpans {
    border-color: #DDA95A;
}

.card.blues .complitprofile .btn.btn-dark.profile {
    background: #829AE5;
    border-color: #5A79DD;
}

.card.orpans .complitprofile .btn.btn-dark.profile {
    background: #EED4AE;
    border-color: #DDA95A;
}


/*-------------------- END Login ------------------- */


/*====================================================== Profile page ====================================================*/

.main-content-inner .availablesurvey.profile .card-header:first-child {
    padding-top: .5rem;
    margin-bottom: 1rem;
}

.main-content-inner .availablesurvey.profile .card-header .card-title {
    padding-top: .5rem;
    color: rgb(0 87 119);
}

.main-content-inner .availablesurvey.profile .card {
    border-radius: .7rem;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 .form-control,
.main-content-inner .availablesurvey.profile .card-body form.row.g-3 .form-select {
    padding: .9rem .8rem;
    border-radius: .6rem;
    margin-bottom: .39rem;
    background: none;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 button.btn.btn-primary {
    background: #000;
    border-color: #000;
    margin-right: 1rem;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 button.btn.mainbtnchange {
    border-radius: .6rem;
    padding: .6rem 1.7rem;
    transition: all .1s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.availablesurvey {
    position: relative;
    z-index: -1;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 button.btn.dropdown-toggle.btn-default.bs-placeholder,
.main-content-inner .availablesurvey.profile .card-body form.row.g-3 button.btn.dropdown-toggle.bs-placeholder.btn-light {
    padding: 0;
    margin: 0;
    background: none;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 .form-select.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
.main-content-inner .availablesurvey.profile .card-body form.row.g-3 .form-select.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    padding: 13px;
    background: none;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 .form-select.dropdown.bootstrap-select button.btn.dropdown-toggle.btn-light {
    padding: 0px;
    background: none;
}

.card-body form.row.g-3 .form-select.bootstrap-select .btn-check:active+.btn-light:focus,
.card-body form.row.g-3 .form-select.bootstrap-select .btn-check:checked+.btn-light:focus,
.card-body form.row.g-3 .form-select.bootstrap-select .btn-light.active:focus,
.card-body form.row.g-3 .form-select.bootstrap-select .btn-light:active:focus,
.card-body form.row.g-3 .form-select.bootstrap-select.show>.btn-light.dropdown-toggle:focus {
    box-shadow: none;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 .form-select.bootstrap-select .dropdown-toggle:focus,
.main-content-inner .availablesurvey.profile .card-body form.row.g-3 .form-select.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none!important;
    outline: none!important;
    outline-offset: 0px;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 .form-select.bootstrap-select .dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0.5em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
    color: #000;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 .form-control:focus,
.main-content-inner .availablesurvey.profile .card-body form.row.g-3 .form-select:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgb(0 87 119);
    outline: 0;
    box-shadow: none;
    border-radius: 0.5rem;
    outline: none;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 button.btn.btn-primary.btn-check:focus+.btn-primary {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: none;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 button.btn.btn-primary.btn-primary:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: none;
    outline: none;
}

.main-content-inner .availablesurvey.profile .card-body form.row.g-3 button.btn.btn-success:focus {
    color: #fff;
    box-shadow: none;
    outline: none;
}