* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    color: #444444;
}

a {
    text-decoration: none;
    color: #005777;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: #005777;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Lato", sans-serif;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

body.loginbg {
    background: url(../img/loginbg.jpg) no-repeat center top;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bg-primary {
    background: #005777 !important;
}


/* .ftco-section {
    padding: 1em 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
} */

.ftco-section {
    padding: 2em 0;
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100vw;
}

.ftco-no-pt {
    padding-top: 0;
}

.ftco-no-pb {
    padding-bottom: 0;
}

.heading-section {
    font-size: 28px;
    color: #000;
}

.forgotpass {
    font-weight: 500;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.login-wrap h2.heading-section img {
    height: 60px;
    margin-bottom: .3rem;
    margin-top: .5rem;
}

.login-wrap {
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.login-wrap h3 {
    font-weight: 700;
    font-size: 20px;
    color: #005777;
}

.login-wrap .icon {
    width: 80px;
    height: 80px;
    background: #005777;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.login-wrap .icon span {
    color: #fff;
}

.form-control {
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.2) !important;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.2) !important;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.2) !important;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.2) !important;
}

.form-control:focus,
.form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.07);
    border-color: transparent;
}

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
}

svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: visible;
}

.login__icon.pass path {
    stroke-dasharray: 92.10662841796875;
    stroke-dashoffset: 92.10662841796875;
    -webkit-animation: animatePath 2s 0.5s forwards;
    animation: animatePath 2s 0.5s forwards;
}

.svg-icon path {
    stroke: rgba(255, 255, 255, 0.9);
    fill: none;
    stroke-width: 1;
}

.login__icon.name path {
    stroke-dasharray: 73.50196075439453;
    stroke-dashoffset: 73.50196075439453;
    -webkit-animation: animatePath 2s 0.5s forwards;
    animation: animatePath 2s 0.5s forwards;
}

.login__icon {
    margin-bottom: -0.4rem;
    margin-right: 0.5rem;
}

svg.svg-icon {
    cursor: pointer;
    position: relative;
    overflow: visible;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "\f0c8";
    font-family: "FontAwesome";
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-top: -4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .checkmark:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}


/* Show the checkmark when checked */

.checkbox-wrap input:checked~.checkmark:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.2);
}


/* Style the checkmark/indicator */

.checkbox-primary {
    color: #005777;
}

.checkbox-primary input:checked~.checkmark:after {
    color: #005777;
}

.btn {
    cursor: pointer;
    border-radius: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-primary {
    background: #005777 !important;
    border: 1px solid #005777 !important;
    color: #fff !important;
}

.btn.btn-primary:hover {
    border: 1px solid #005777;
    background: transparent;
    color: #005777;
}

.btn.btn-primary.btn-outline-primary {
    border: 1px solid #005777;
    background: transparent;
    color: #005777;
}

.btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #005777;
    color: #fff;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}


/* .form-group .submit {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
} */

.login-wrap .card.otp {
    border: none;
}

.login-wrap .card.otp form.mainform .otninput {
    border-radius: .5rem;
    padding: 1rem;
    border: solid 1px #005777;
}

.login-wrap .card.otp .form-control {
    height: auto;
}

.login-wrap .card.otp form.mainform button.btn.btn.validbtn {
    padding: .8rem 3.5rem;
    background: #005777;
    color: #f0f8ff;
    margin-bottom: .9rem;
    font-size: 1.1rem;
}

.login-wrap .card.otp h5 {
    font-size: 1.6rem;
}

.login-wrap .card.otp h5 a {
    font-size: 1.3rem;
}

.login-wrap .card.otp span.or {
    font-size: 1.1rem;
    padding: .6rem;
    font-weight: 600;
}

.login-wrap.verifywrap {
    padding: 1.5rem 1.5rem;
}

.form-group .submit {
    /* position: absolute; */
    /* top: 20px; */
    /* left: 0; */
    /* right: 0; */
    margin: 0 auto;
    width: 100%;
    border-radius: .5rem !important;
    /*webkit-box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%) !important; 
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%) !important;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 767.98px) {
    .form-group .submit {
        top: 0;
    }
    .checkbox-wrap {
        font-size: 15px;
        padding-left: 25px;
    }
}

.mainchcklogin {
    display: flex;
    flex-direction: row;
}

@media (max-width: 400px) {
    .miancheckboxlabellogin {
        width: 100%;
        text-align: left !important;
    }
    .mainchcklogin {
        display: flex;
        flex-direction: column;
    }
}

.icon-container {
    margin-top: 1.3rem;
    width: 100%;
    margin-bottom: 0rem;
}

.icon-container .icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: .3rem;
}

.icon-container .icon::before,
.icon-container .icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease;
    border-radius: 30px;
}

.icon-container .icon i {
    position: relative;
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 15px;
    transition: all 0.25s ease;
}


/* .icon-container .icon-fill::before {
    transition-duration: 0.5s;
    box-shadow: inset 0 0 0 1px #16A085;
}

.icon-container .icon-fill:hover::before {
    box-shadow: inset 0 0 0 60px #16A085;
}

.icon-container .icon-expand::after {
    box-shadow: inset 0 0 0 1px #005777;
}

.icon-container .icon-expand::before {
    background: #005777;
    box-shadow: inset 0 0 0 60px #F6821F;
}

.icon-container .icon-expand:hover::before {
    box-shadow: inset 0 0 0 1px #F6821F;
}
.icon-container h6.og {
    color: #f6821f;
} */

.icon-container .icon.icon-expand {
    background: #f6821f;
}

.icon-container .icon:hover {
    background: #f6821f;
}

.icon-container .icon.icon-expand:hover {
    background-color: #005777;
}

@media (max-width: 575px) {
    .login-wrap .card.otp span.or {
        width: 100%;
    }
}

.acode.otpatxt {
    font-size: 1.3rem;
    font-weight: 600;
    color: #005777;
}

form.mainform h6 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.acode form#resend_otp {
    margin-top: .7rem;
}

.acode form#resend_otp,
.acode form#resend_otp button {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    color: rgb(0 87 119);
    text-decoration: none;
}